// Кнопка наверх 
.up {
    position: fixed;
    cursor: pointer;
    bottom: 18vh;
    right: 24px;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #0000ff;
    &-show__img {
        position: relative;
        top: 4px;
        width: 28px;
        height: 38px;
        display: flex;
        align-items: center;
        background-color: #fff;
        mask-image: url("../../images/svg/up.svg");
        mask-repeat: no-repeat;
        transition: all .25s ease;
        opacity: 1;
        cursor: pointer;
        z-index: 9999;
        animation: bounce 0.4s infinite;
    }
}