
html,
body {
	height: 100%;
	font-family: $base-font-family;
	font-weight: 400;
	font-size: $base-font-size;
	font-style: normal;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
	padding: 40px 0px;
}

// Кнопка наверх
.up {
    position: fixed;
    cursor: pointer;
    bottom: 18vh;
    right: 24px;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d4342;
    &-show__img {
        position: relative;
        top: 4px;
        width: 28px;
        height: 38px;
        display: flex;
        align-items: center;
        background-color: #fff;
        mask-image: url("../images/svg/up.svg");
        mask-repeat: no-repeat;
        transition: all .25s ease;
        opacity: 1;
        cursor: pointer;
        z-index: 9999;
        animation: bounce 0.4s infinite;
    }
}