html,
body {
	height: 100%;
	font-family: $base-font-family;
	font-weight: 400;
	font-size: $base-font-size;
	font-style: normal;
}

.header-title {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: $base-color;
}

.footer-title {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: $base-color;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}





