// !Подключение шрифтов
@mixin font($family, $weight, $size, $color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

// !Центрирование элемента
@mixin center-elements($center) {
    display: flex;
    justify-content: center;
    align-items: center;
}

// !Быстрое создание flex контейнера
@mixin flex-container($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }