// Общие переменные
$color-main: #4d4342;

// Цвет шрифта по умолчанию
$base-color: #ffffff;

// Семейство шрифта по умолчанию
$base-font-family: "OpenSans-Bold", sans-serif;

$base-font-weight: 400;

// Размер шрифта по умолчанию
$base-font-size: 18px;