/* Цвет шрифта по умолчанию */
$base-color: #ffffff;

/* Семейство шрифта по умолчанию */
$base-font-family: "Open-Sans-Bold", sans-serif;

/* Толщина шрифта по умолчанию */
$base-font-weight: 400;

/* Размер шрифта по умолчанию */
$base-font-size: 18px;